.board-area {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (max-width: $media-mobile) {
    transform: translateY(-3rem);
  }
}
.board-easy {
  width: 28rem;
  height: 21rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);

  @media (max-width: $media-mobile) {
    width: 21rem;
    height: 28rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

.board-medium {
  width: 28rem;
  height: 28rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);

  @media (max-width: $media-mobile) {
    width: 22rem;
    height: 22rem;
  }
}

.board-hard {
  width: 35rem;
  height: 28rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);

  @media (max-width: $media-mobile) {
    width: 22rem;
    height: 29rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}

.board-pro {
  width: 54rem;
  height: 40rem;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);

  @media (max-width: 67rem) {
    width: 50rem;
    height: 36rem;
  }

  @media (max-width: 63rem) {
    width: 46rem;
    height: 32rem;
  }

  @media (max-width: $media-mobile) {
    height: 36rem;
    width: 22rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
}

.board-easy,
.board-medium,
.board-hard,
.board-pro {
  // background-color: aliceblue;
  display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(7rem, 1fr));
  // gap: 1rem;
}
