.menu__button {
  width: 80%;
  height: 2rem;
  background: none;
  border: 2px solid white;
  color: white;
  font-family: "poppins", sans-serif;
  font-weight: 800;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  transition: all 2s;
}

.menu__sub-button {
  transform: scale(0.8);
}
