.game-bar__display {
  display: flex;
  flex-direction: row;
  transform: translateY(-2rem);

  @media (max-width: $media-mobile) {
    scale: 0.8;
  transform: translateY(0);

  }
}

.display {
  width: 12rem;
  height: 3.5rem;
  background: none;
  color: $color-font-2;
  font-family: "poppins", sans-serif;
  letter-spacing: 0.5px;
  text-align: center;

  @media (max-width: $media-mobile) {
    width: 10rem;
  }

  h4 {
    font-weight: 700;
  }

  p {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 20px;
  }
}

.display:nth-child(2n) {
  border-left: 2px solid $color-font-2;
  border-right: 2px solid $color-font-2;
}

.display--pro {
  transform: translateY(1rem);
  margin-top: 0.5rem;

}
