// all fonts

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

// all colors:

$color-grad-1: #38ef7d;
$color-grad-2: #11998e;
$color-font-1: white;
$color-backgroun-modal: hsla(175, 80%, 10%, 0.5);

$gradient: linear-gradient(to right, $color-grad-1, $color-grad-2);
