@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
.board-area {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.board-easy {
  width: 28rem;
  height: 21rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
@media (max-width: 40rem) {
  .board-easy {
    width: 21rem;
    height: 28rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
}

.board-medium {
  width: 28rem;
  height: 28rem;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
@media (max-width: 40rem) {
  .board-medium {
    width: 22rem;
    height: 22rem;
  }
}

.board-hard {
  width: 35rem;
  height: 28rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
@media (max-width: 40rem) {
  .board-hard {
    width: 22rem;
    height: 29rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }
}

.board-pro {
  width: 54rem;
  height: 40rem;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
}
@media (max-width: 67rem) {
  .board-pro {
    width: 50rem;
    height: 36rem;
  }
}
@media (max-width: 63rem) {
  .board-pro {
    width: 46rem;
    height: 32rem;
  }
}
@media (max-width: 40rem) {
  .board-pro {
    height: 36rem;
    width: 22rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
}

.board-easy,
.board-medium,
.board-hard,
.board-pro {
  display: grid;
}

.modal {
  width: 100%;
  height: 100%;
  position: absolute;
}
.modal .backdrop {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(2.5px);
  z-index: 10;
}
.modal .modal__box--start-game,
.modal .modal__box--end-game,
.modal .modal__box--high-score,
.modal .modal__box--how-to-play {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 20;
  padding: 1rem;
  border: 2px solid white;
  font-family: "poppins", sans-serif;
  color: white;
  background-color: hsla(175, 80%, 10%, 0.5);
  backdrop-filter: blur(4.5px);
}
.modal .modal__box--start-game {
  width: 28rem;
  height: 12rem;
  transform: translate(-50%, -75%);
}
.modal .modal__box--start-game .modal__title {
  text-align: center;
}
.modal .modal__box--start-game .modal__title span {
  text-transform: uppercase;
}
.modal .modal__box--start-game .modal__description {
  text-align: center;
  text-indent: 2rem;
}
.modal .modal__box--start-game .modal__high-score {
  text-align: center;
  text-transform: uppercase;
  margin-top: 0.5rem;
}
.modal .modal__box--end-game {
  width: 20rem;
  height: 8rem;
  transform: translate(-50%, -50%);
}
.modal .modal__box--end-game .modal__title {
  text-align: center;
  margin-bottom: 0.2rem;
  text-transform: uppercase;
}
.modal .modal__box--end-game .modal__description {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.modal .modal__box--end-game .modal__description :first-child {
  text-align: center;
}
.modal .modal__box--end-game .modal__description :last-child {
  font-weight: 700;
  font-size: 28px;
}
.modal .modal__box--end-game .modal__input {
  display: block;
  background-color: hsla(175, 80%, 10%, 0.3);
  width: 80%;
  height: 2rem;
  margin: auto;
  text-indent: 1rem;
  color: white;
  outline: none;
  border: 2px solid white;
  font-family: "poppins", sans-serif;
  margin-top: 0.2rem;
}
.modal .modal__box--end-game ::placeholder {
  color: white;
}
.modal .modal__box--high-score {
  width: 28rem;
  height: 32rem;
  transform: translate(-50%, -50%);
}
.modal .modal__box--high-score .modal__title--high-score {
  text-transform: uppercase;
  text-align: center;
}
.modal .modal__box--high-score .modal__score--difficulties {
  display: flex;
  margin: 1rem 0 1rem 0;
}
.modal .modal__box--high-score .socre-board__table {
  margin: auto;
}
.modal .modal__box--high-score .socre-board__table .score-board__name-field {
  width: 15rem;
}
.modal .modal__box--high-score .socre-board__table tr td:first-child {
  text-align: center;
}
.modal .modal__box--high-score .socre-board__table tr td:nth-child(2n) {
  padding-left: 2rem;
}
.modal .modal__box--high-score .socre-board__table td {
  padding-bottom: 0.2rem;
}
.modal .modal__box--how-to-play {
  width: 28rem;
  height: 25rem;
  transform: translate(-50%, -50%);
}
.modal .modal__box--how-to-play .modal__title--how-to-play {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}

.main-menu {
  width: 19rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}
@media (max-width: 40rem) {
  .main-menu {
    position: absolute;
    right: -100%;
    top: 10%;
    transition: all 0.5s ease-out;
  }
}

.menu-view__button {
  display: none;
  z-index: 20;
}
@media (max-width: 40rem) {
  .menu-view__button {
    display: block;
    width: 100%;
    height: 2.5rem;
    position: fixed;
    top: 0;
    left: 0;
    background-color: inherit;
    border-bottom: 2px solid white;
    color: white;
    font-family: "poppins", sans-serif;
    font-weight: 800;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    line-height: 2.2;
  }
}

.mobile-view {
  right: 0;
  z-index: 20;
}

.menu__button,
.high-score__difficulty--button {
  width: 80%;
  height: 2rem;
  background: none;
  border: 2px solid white;
  color: white;
  font-family: "poppins", sans-serif;
  font-weight: 800;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  line-height: 2.2;
}

.menu__sub-button,
.high-score__difficulty--button {
  transform: scale(0.8);
}

.highlighted {
  color: #42dacd;
  border-color: #42dacd;
  transform: scale(0.9);
}

.modal__submit {
  width: 6rem;
  height: 2rem;
  position: absolute;
  right: 50%;
  bottom: 1rem;
  transform: translateX(50%);
  background-color: initial;
  border: 2px solid white;
  font-family: inherit;
  color: inherit;
  font-weight: 700;
}

.tile__container {
  width: 100%;
  position: relative;
  perspective: 300px;
}
.tile__container .tile,
.tile__container .tile--front,
.tile__container .tile--back {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
}
.tile__container .tile {
  transform-style: preserve-3d;
  transition: all 0.8s;
}
.tile__container .tile .tile--front {
  backface-visibility: hidden;
  background-image: url("/src/assets/question_mark.png");
}
.tile__container .tile .tile--back {
  backface-visibility: hidden;
  background-image: url("/src/assets/tile-2.svg");
  transform: rotateY(180deg);
  opacity: 1;
  filter: grayscale(0);
}
.tile__container .turned {
  transform: rotateY(180deg);
}
.tile__container .matched .tile--back {
  opacity: 0.3;
  filter: grayscale(0.5);
  transition: all 1s;
}

.game-bar__display {
  display: flex;
  flex-direction: row;
}
@media (max-width: 40rem) {
  .game-bar__display {
    scale: 0.8;
  }
}

.display {
  width: 12rem;
  height: 3.5rem;
  background: none;
  color: rgba(255, 255, 255, 0.76);
  font-family: "poppins", sans-serif;
  letter-spacing: 0.5px;
  text-align: center;
  transform: translateY(-3rem);
}
@media (max-width: 40rem) {
  .display {
    width: 10rem;
  }
}
.display h4 {
  font-weight: 700;
}
.display p {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 20px;
}

.display:nth-child(2n) {
  border-left: 2px solid rgba(255, 255, 255, 0.76);
  border-right: 2px solid rgba(255, 255, 255, 0.76);
}

.display--pro {
  transform: translateY(3rem);
}

* {
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(to right, #38ef7d, #11998e);
  overflow: hidden;
  position: relative;
}
body main {
  display: flex;
  backdrop-filter: blur(10px);
}

.backdrop-mobile {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 10;
}

.hidden {
  display: none !important;
}

/*# sourceMappingURL=main.css.map */
